.Footer-container{
    position: relative;
}

.Footer-container>hr{
    border: 1px solid var(--lightgray)
}

.Footer{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.social-link{
    display: flex;
    gap: 4rem;
}

.social-link>img{
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.logo-f>img{
    width: 10rem;
}

.blur-f1{
    bottom: 0;
    right: 20%;
    height: 26rem;
    width: 12rem;
    filter: blur(200px);
    background: red;
}

.blur-f2{
    bottom: 0;
    left: 20%;
    height: 26rem;
    width: 12rem;
    filter: blur(200px);
    background: rgb(225, 115, 0);
}